
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color:  #EAE7E2;
    border-bottom: 1px solid #d3cfc8;
  }

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff; 
    padding: 10px 0;
    order: 1px solid #e0e0e0; 
}

  /* Logo */
  .logo {
    display: flex;
    align-items: center;
  }
  
  /* Botões no cabeçalho */
  .buttons {
    display: flex;
  }
  
  .button {
    margin-left: 15px;
  }
  
  .button a {
    color: #3F2917;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
  }

  .button a:hover{
    color: rgb(249, 115, 22);
    transition: color 0.3s ease, border-bottom 0.3s ease;
  }
  
  /* Navbar */
  .menu {
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .menu li {
    margin: 0 20px;
  }
  
  .menu a {
    text-decoration: none;
    font-size: 14px;
    color: #6c757d;
    transition: color 0.3s ease, border-bottom 0.3s ease;
  }
  
 
  .menu .active {
    color: #000; 
    border-bottom: 3px solid #3F2917; 
    font-weight: bold;
    list-style: none;
  }
  
  .menu a:hover {
    color: rgb(249, 115, 22);
    border-bottom: 2px solid rgb(249, 115, 22);
  }
  