

.main{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px; 
}

h1{
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    color: rgb(249 115 22);
    text-align: center;
}

.form{
    text-align: center;
    padding-left: 2rem;
}

label{
    display: flex;
    flex-direction: column;
    align-items: center;
}

label p{
    margin: auto;
}

.formInput input{
	padding: 0 10px;
	height: 35px;
	font-size: 1rem;
    background-color: rgb(248, 248, 248);
    border: 1px solid rgb(255, 255, 255);
    color: black;
    color-scheme: black;
    border-radius: 20px;
    margin-bottom: 1.5rem;
}


.formInput input:focus {
    outline: none;
    border: 1px solid rgb(253 186 116);
    background-color: rgb(255 237 213);
    transition-duration: 100ms;
}

input[type="date"] {
    padding: 0 40px;
    height: 35px;
    font-size: 1rem;
    background-color: rgb(248, 248, 248);
    border: 1px solid rgb(255, 255, 255);
    color: black;
    color-scheme: black;
    border-radius: 20px;
    margin-bottom: 1.5rem;
}

.formCheckbox{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: none;

    input{
        background-color: white;
    }

    h3{
        margin-left: 10px;
        font-size: 14px;
    }
}

.countrySelect {
    padding: 0 35px;
	height: 35px;
    background-color: rgb(248, 248, 248);
    border: 1px solid rgb(255, 255, 255);
    color: rgb(95, 95, 95);
    color-scheme: #3F2917;
    margin-bottom: 1.5rem;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    border-radius: 20px;
    text-transform: uppercase;
  }

.form button{
    background-color:#3F2917;
    color: white;
    padding: 10px 30px;
    border-radius: 6px;
    border: none;
    margin-top: 2rem;
    font-size: 14px;
    text-transform: capitalize;
}

.form button:hover{
    background-color: rgb(253 186 116);
    color: white;
    transition: background-color 0.3s ease, border-bottom 0.3s ease;
}



