.cardHotel{
    display: flex;
    flex-direction: row;
    background-color: rgb(248, 248, 248);
    margin: 10px;
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;

    .colum1{
        width: 50%;
        text-align: left;
        padding-left: 10px;
        color: #3F2917;
    }
}

.cardRoom{
    display: grid;
    column-gap:10px;
    grid-template-columns: auto auto auto;
    padding: 10px;
    margin: 0 90px;
    margin-bottom: 100px;
    

    .room{
        background-color: rgb(248, 248, 248);
        padding: 30px 20px;
        margin-bottom: 10px;
    }

    .title{
        font-weight: bold;
        text-transform: uppercase;
    }

    button{
        font-size: 10px;
        background-color: #3F2917;
        color: white;
        border: none;
        padding: 5px 15px;
        margin: 5px;
        border-radius: 6px;
    }
    button:hover{
        background-color: #815530;
        transition-duration: 100ms;
    }
}


.imghotel{
    display: flex;
    flex-direction: row;
    justify-content: center;

    img{
        width: 580px;
        padding: 20px;
    }

} 
.loc {
    display: flex;
    flex-direction: row;

    p{
        margin: 0;
    }
}

.heTitle{
    display: flex;
    flex-direction: row;
    align-items: center;

    .title{
        font-weight: bold;
        text-transform: uppercase;
    }
    .averageReview{
        color:  rgb(158, 158, 158);
    }

    p{
        padding-right: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    img{
        padding-left: 4px;
        width: 15px;
    }
}

.menu{
    display: flex;
    
}