.DetailsTitle{
    color:  rgb(158, 158, 158);
    font-size: 12px;
    text-transform: uppercase;
}

.cardHotel{
    display: flex;
    flex-direction: row;
    background-color: rgb(248, 248, 248);
    margin: 10px;
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;

    .Cardcolumm{
        width: 50%;
        text-align: left;
        padding-left: 10px;
        color: #3F2917;
    }
}

.cardRoom{
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    margin: 0 90px;
    margin-bottom: 100px;
    justify-items: end;
    align-items: center;
    flex-direction: column;
    

    .room{
        background-color: rgb(248, 248, 248);
        padding: 30px 20px;
        margin-bottom: 10px;
    }

    .title{
        font-weight: bold;
        text-transform: uppercase;
    }

    button{
        font-size: 10px;
        background-color: #3F2917;
        color: white;
        border: none;
        padding: 5px 15px;
        margin: 5px;
        border-radius: 6px;
    }
    button:hover{
        background-color: #815530;
        transition-duration: 100ms;
    }
}


.imghotel{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;

    img{
        width: 580px;
        padding: 20px;
    }

} 

.images{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.loc {
    display: flex;
    flex-direction: row;

    p{
        margin: 0;
    }
}

.cardHeader{
    padding: 10px 10px 50px 10px;
}

.heTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
   

    .title{
        font-weight: bold;
        text-transform: uppercase;
        color: rgb(249, 115, 22);
    }
    .averageReview{
        color:  rgb(158, 158, 158);
    }

    p{
        padding-right: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    img{
        padding-left: 4px;
        width: 15px;
    }
}

.menu{
    display: flex;
    
}