
main{
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

.li{
    list-style-type: none;
    font: 1rem;
}

.title{
    margin-top: 100px;
    color: #f97316;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}

.SubTitle{
    text-transform: uppercase;
    color: black;
}

.Card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(248, 248, 248);
    list-style-type: none;
    padding: 2rem;
    margin: 2rem;   
}

.Card:hover{
    background-color: rgb(255, 248, 242);
}

.CardName{
    text-transform: uppercase;
    font-size: 1rem;
}

.CardLocation{
    color: rgb(158, 158, 158);
}

.moreDetails{
    font-size: 14px;
    background-color: #f97316;
    color: white;
    border: none;
    padding: 10px 30px;
    margin: 5px;
    border-radius: 20px;
    
}

