
.content{
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

.select{
    text-align: center;
}

.li{
    list-style-type: none;
    font: 1rem;
}

.title{
    margin-top: 100px;
    color: #f97316;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}

.SubTitle{
    text-transform: uppercase;
    color: #3F2917;
    text-align: center;
    text-align: 1rem;
}

.Card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(248, 248, 248);
    list-style-type: none;
    padding: 2rem;
    margin: 2rem;   
}

.Card:hover{
    background-color: rgb(255, 248, 242);
}

.CardName{
    text-transform: uppercase;
    font-size: 1rem;
    
    display: flex;
    flex-direction: row;
    align-items: center;

    p{
        padding-left: 15px;
        padding-right: 10px;
        color:  #3f2917;
    }
}

.CardLocation{
    color: rgb(158, 158, 158);
}

.moreDetails{
    font-size: 14px;
    background-color: #3F2917;
    color: white;
    border: none;
    padding: 10px 30px;
    margin: 5px;
    border-radius: 6px;
    
}

.moreDetails:hover{
    background-color: #815530;
    transition-duration: 100ms;
    color: white;
}


.countrySelect {
    padding: 0 20px;
	height: 35px;
    background-color: rgb(248, 248, 248);
    border: 1px solid rgb(255, 255, 255);
    color: rgb(95, 95, 95);
    color-scheme: #3F2917;
    margin-bottom: 1.5rem;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    border-radius: 6px;
    text-transform: uppercase;
  }
  
 
  
  .countrySelect:focus {
    outline: none;
    border: 1px solid #976237;
    transition-duration: 100ms;
}